@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CollegeManagement.Models.Entities.Student;
<h1> Edit Student Info</h1>
@if (Model is null)
{
    <h2>Sorry, such student does not exist in the database...</h2>
}
else
{
    <div class="mt-6">
        <form method="post">
            <div class="mt-3">
                <label class="form-check">Name</label>
                <input class="form-control" type="text" asp-for="name" required />
            </div>

            <div class="mt-3">
                <label class="form-check">Registered Number</label>
                <input class="form-control" type="text" asp-for="reg_no" required />
            </div>

            <div class="mt-3">
                <label class="form-check">Age</label>
                <input class="form-control" type="number" asp-for="age" required />
            </div>

            <div class="mt-3">
                <label class="form-check">Email</label>
                <input class="form-control" type="text" asp-for="email" required />
            </div>

            <div class="mt-3">
                <label class="form-check">Phone</label>
                <input class="form-control" type="text" asp-for="phone" required />
            </div>

            <div class="mt-3">
                <label class="form-check">City Name</label>
                <input class="form-control" type="text" asp-for="city" required />
            </div>

            <div class="mt-3">
                <label class="form-check">Country Name</label>
                <input class="form-control" type="text" asp-for="country" required />
            </div>
            <div class="mt-3">
                <div class="col-sm-12 text-center"><input class="btn btn-primary" type="submit" value="Save Changes" required /></div>
                
            </div>
        </form>
    </div>
    
}
